/* h1 {
    color: rgb(0, 0, 0);
    font-size: 60px;
    text-align: center
} */
/* *{
    box-sizing: border-box;
    padding: 25px 50px 75px 100px
} */

img {
    width: 25%;

}
/* h1, h2, h3, h4 {
    border:1px solid rgb(25, 26, 27);
    margin: 10px;
    padding: 10px , 10px , 10px , 10px
} */

body {
    background-image: url('lolu.gif');
    background-repeat: round;
    color: aliceblue;
    
}

/* p {
    text-indent: 50px;
    text-align: justify;
    color: rgb(16, 119, 209)
} */

a {
    color: rgba(255, 255, 255, 0);
    text-decoration: none;
}
.container 
{
    display: block;
    float: none;
    flex-direction: column;
}
.button{
    background-color: rgb(154, 231, 154);
    border: black;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0px 0px;
    cursor: pointer;
    width: 100%;
    justify-content: space-evenly

  }



  .icon-bar {
    width: 300px;
    background-color: rgb(233, 13, 13);
    margin:auto;
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
  }
  
  .icon-bar a:hover {
    background-color: rgb(175, 216, 108);
  }


